.flex-header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}

ul {
    display: flex;
    list-style: none;
    margin: 10px;
    padding: 0;
    gap: 1em;
}

.main-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow:column;
    padding-left: 120px;
}

.main-left .subheading1 {
    display: flex;
    flex-wrap: wrap;
}

.flex-main {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.heading1 {
    display: flex;
    font-size: 28px;
    flex-wrap: wrap;
}

.subheading1 {
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: normal;

}

img {
    display: flex;
    max-width: 70%;
    max-height: auto;
    justify-content: end;
}

.button1 {
    display: flex;
}

.title2 {
    display: flex;
    justify-content: center;
}

.flex-picture {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-left: 120px;
    padding-right: 120px;
}

.box {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    width: 200px;
    height: 150px;
}    

.button {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border-radius: 25px;
    border: 2px solid #3882F6;
    padding: 20px;
    width: 200px;
    height: 100px;
}