.flex-header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}

ul {
    display: flex;
    list-style: none;
    margin: 10px;
    padding: 0;
    gap: 1em;
}

.main-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow:column;
    padding-left: 120px;
}

.main-left .subheading1 {
    display: flex;
    flex-wrap: wrap;
}

.flex-main {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.heading1 {
    display: flex;
    font-size: 28px;
    flex-wrap: wrap;
}

.subheading1 {
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: normal;

}

img {
    display: flex;
    max-width: 70%;
    max-height: auto;
    justify-content: end;
}

.button1 {
    background-color: #3882F6;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px 20px;
    margin-inline-end: auto;
    cursor: pointer;
    padding: 10px 24px;
    border-radius: 8px;
  }

.title2 {
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: 36px;
}

.flex-picture {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-left: 120px;
    padding-right: 120px;
}

.box {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    width: 200px;
    height: 150px;
}    

.button {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border-radius: 25px;
    border: 2px solid #3882F6;
    padding: 20px;
    width: 130px;
    height: 120px;
}

.third-title {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 120px;
    background-color: #E5E7EB;
    font-style:italic;
    font-weight:lighter;
    font-size: 36px;
    padding-left: 400px;
    padding-right: 400px;

}


.quote-author {
    display: flex;
    justify-content: end;
    flex-direction: row;
    font-style: normal;
}

.signup-1 {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    border: 2px solid #3882F6;
    background: #3882F6;
    color: white;
    padding: 20px;
    padding-left: 200px; 
    margin: 1rem;   
    width: 800px; 
    line-height: 0px;
}

.signup-2 {
    display: flex;
    flex-direction: column;

}

.signup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 80px;
    
}

.button2 {
    background-color: #3882F6;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-inline-end: auto;
    cursor: pointer;
    padding: 10px 24px;
    border-radius: 8px;
    border: 2px solid white;
  }

  .footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}