.flex-header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
    font-size: 20px;
    color: white;
}

body#messi-page {
    background-color: #6CACE4;
}

.flex-header-messi {
    background-color: #6CACE4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.flex-header-messi img {
    width: auto;
    height: 5rem;
    align-items: center;
    padding-top: 10px;
}

.flex-main-messi {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    overflow-wrap: break-word;
    align-items: center;
    padding: 3em;
}

.flex-main-messi-left {
    display: flex;
}

.flex-main-messi-left h1{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 50px;
}

.flex-main-messi-left p{
    font-family: 'Playfair Display';
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
    display: flex;
    list-style: none;
    margin: 10px;
    padding: 0;
    gap: 1em;
}

.main-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow:column;
    padding-left: 120px;
}

.main-left .subheading1 {
    display: flex;
    flex-wrap: wrap;
}

.flex-main {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.heading1 {
    display: flex;
    font-size: 28px;
    flex-wrap: wrap;
    margin-bottom: 0px;
}

.subheading1 {
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: normal;
    font-size: 25px;

}

img {
    display: flex;
    max-width: 70%;
    max-height: auto;
    justify-content: end;
}

.button1 {
    background-color: #3882F6;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 0px;
    margin-inline-end: auto;
    cursor: pointer;
    padding: 10px 24px;
    border-radius: 8px;
  }

.title2 {
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: 36px;
}

.title2-messi {
    display: flex;
    justify-content: center;
    padding: 30px;
    padding-top: 0px;
    font-size: 36px;
}

.flex-picture {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding-left: 120px;
    padding-right: 120px;
}

.flex-picture-messi {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding-left: 120px;
    padding-right: 120px;
}

.box {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    width: 200px;
    height: 150px;
}    

.button {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border-radius: 25px;
    border: 2px solid #3882F6;
    padding: 20px;
    width: 130px;
    height: 120px;
}

.button-messi {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border-radius: 25px;
    border: 2px solid #ffffff;
    padding: 20px;
    width: 130px;
    height: 140px;
    max-height: max-content;
    padding-left: 120px;
    padding-right: 120px;
}



.box-messi {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-left: 120px;
    padding-right: 140px;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.third-title {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 120px;
    background-color: #E5E7EB;
    font-style:italic;
    font-weight:lighter;
    font-size: 36px;
    padding-left: 400px;
    padding-right: 400px;

}


.quote-author {
    display: flex;
    justify-content: end;
    flex-direction: row;
    font-style: normal;
}

.signup {
    background-color: #3882F6 ;
    margin: 100px 400px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-color: none;
}

.sign-items {
  flex: 1;
}

.signs-text {
    text-align: left;
}

.signs-text p {
    color: #fff;
    opacity: 0.7;
    margin: 5px 30px 30px 50px;
    margin-top: 0;
    font-size: 20px;
}

h3 {
    color: #fff;
    font-family: 'Roboto', arial;
    padding: 0;
    margin: 30px 0px 0px 50px;
    font-size: 25px;
}

.signs-button button {
    color: #fff;
    font-family: 'Roboto', arial;
    border-color: #fff;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 5px 25px;
    font-size: 25px;
}

.signs-button {
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

  .footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}

.footer-messi {
    background-color: #6CACE4;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}